@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
  margin:0;
  height: 100vh; 
  border: 0px !important;
  background: linear-gradient(160deg,#6362ef,#6a6af6,#3d3db0);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#container{
  position: relative;
  top: 20%;
  background: whitesmoke;
  margin: 0 auto 0 auto;
  width: 500px;
  height: 57vh;
  padding: 30px 30px 10px 30px;
  box-shadow: 3.5px 3px #0000005f;
}

#container .cards{
  margin: 0 auto 0 auto;
  width: 500px;
  height: 42vh;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#container .cards .card{
  border-radius: 9px;
  position: relative;
  background-color: whitesmoke;
  box-shadow: -3.5px 3px 6px 0.5px #0000002e;
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  transition: all 0.5s ease;
}

#container .stats{
  margin-top: 25px;
  box-shadow: -1.5px 2px 4px 0.5px #0000002e;
  display:grid;
  padding: 10px 0 10px 35px;
  grid-template-columns: 1fr 0.5fr;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container .stats .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 10px;
  position: relative;
}

#container .stats .info .split{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#container .stats button{
  color: #6c60eb;
  border: 1px solid #6c60eb;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}


#container .stats button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #6c60eb;
}

.shake {
  outline: 1px double rgba(255, 72, 72, 0.22);
  animation: shake 0.35s ease-in-out;
}

.shake{
  background-color: rgba(234, 114, 114, 0.083) !important;
  box-shadow: -3.5px 3px 6px 0.5px #770c0c2e !important;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}

#container .card:hover{
  cursor: pointer;
  box-shadow: -3.5px 3px 6px 0.5px #0000004a;
}

.card .view{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.2s ease;
}

/* Backside */
.card .back img{
  max-height: 50px;
}

/* Frontside */
.card .front i{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
  font-size: 35px;
  pointer-events: none;
  color: #6c60eb;
}

.back,.front{
  pointer-events: none;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/*Default position of the backside of the card*/
.card .back{
transform: rotateY(180deg);
display: flex;
justify-content: center;
align-items: center;
}

/*Change side when card is pressed*/
.card.flip .back{
transform: rotateY(0);
}

.card.flip .front{
transform: rotateY(180deg);
}

@media (max-width: 500px){
  #container{
    width: 300px;
  }
  #container .cards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 300px;
  }
  #container .cards .card{
    width: 80%;
    height: 75%;
  }
  #container .cards .card .front i{
    font-size: 20px;
  }
   #container .cards .card .back img{
    margin-top: 50%;
    height: 35px;
   }
   #container .stats{
    padding-left: 0;
    font-size: 12.5px;
   }
   #container .stats .info{
    padding-right: 20px;
    padding-left: 30px;
   }
   #container .stats button{
    font-size: 12px;
    text-align: center;
    width: 84%;
   }
   .split{
    display: none;
   }
}


